<!DOCTYPE html>
<html>
<title>Recipe Fusion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" ../css/template.css ">


<body>



    <header class="top-side-header">
        <%-  include ("../fragments/header") %>
    </header>


    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="recipes">
        <div class="w3-quarter">
            <p>
                <a href="locations/carrefour-parklake/"> <img src=" /images/carrefour-parklake.jpg " alt="carrefour " style="width:100% "></a>
            </p>
            <h3>Carrefour Park Lake</h3>
            <p>Adress: Park Lake, Str. Liviu Rebreanu nr. 4, București 031783</p>
            <p>Great Quality and Diversity, but can get expensive with organic products.</p>
        </div>

    </div>

    <footer>
        <%-  include ("../fragments/footer") %>
    </footer>


</body>