<!DOCTYPE html>
<html>
<title>Recipe Fusion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" ../css/template.css ">
<script src="../js_scripts/generate_recipe.js"></script>

<body>



    <header class="top-side-header">
        <%-  include ("../fragments/header") %>
    </header>


    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="locations">
        <div class="w3-quarter">
            <p>
                <a href="/generate-recipe" id="park-lake" onclick="get_location(this.id)"> <img src=" /images/carrefour-parklake.jpg " alt="carrefour " style="width:100% "></a>
            </p>
            <h3>Carrefour Park Lake</h3>
            <p>Adress: Park Lake, Str. Liviu Rebreanu nr. 4, București 031783</p>
            <p>Great Quality and Diversity, but can get expensive with organic products.</p>
        </div>
    </div>

    <footer class="w3-center w3-light-grey w3-padding-32 ">
        <%-  include ("../fragments/footer") %>
    </footer>


</body>